<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AkunViewServlet</servlet-name>
        <servlet-class>servlets.AkunViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerhiasanSave</servlet-name>
        <servlet-class>servlets.PerhiasanSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasabahServlet</servlet-name>
        <servlet-class>servlets.NasabahServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfile</servlet-name>
        <servlet-class>servlets.AdminProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet2</servlet-name>
        <servlet-class>servlets.LoginServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>servlets.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>servlets.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WSPegadaian</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AkunViewServlet</servlet-name>
        <url-pattern>/akunViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerhiasanSave</servlet-name>
        <url-pattern>/perhiasanSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasabahServlet</servlet-name>
        <url-pattern>/nasabahServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfile</servlet-name>
        <url-pattern>/adminProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet2</servlet-name>
        <url-pattern>/loginServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/loginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSPegadaian</servlet-name>
        <url-pattern>/WSPegadaian</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
